@charset "UTF-8";
/**
 * 
 * @authors Huhy (307036736@qq.com)
 * @date    2015-05-20 16:55:18
 * @version $Id$
 */
.navbar-nav-top{
	.navbar-right{
		margin: 0;
		>li{
			display: inline-block;
		}
	}
	.navbar-nav-left{
		padding: 0;
		.input-group{
			padding: 15px;
			background-color: #F2F2F2;
			border-bottom: 1px solid #e7e7e7;
			.btn-default{
				height: 34px;
			}
		}
		.panel-group .panel{
			margin-bottom: 0px;
			margin-top: 0px;
			border-radius: 0px;
			border-right-width: 0px;
			border-top-width: 0px;
			border-color: #ddd;
		}
		.panel-heading{
			background-color: #f8f8f8;
			padding: 0;
			.panel-title{
				display: block;
				padding: 10px 15px;
				text-decoration: none !important;
				font-size: 1em;
				background-color: #fff;
				.glyphicon-menu-down{
					font-size: 10px;
					display: block;
				}
				.glyphicon-menu-left{
					font-size: 10px;
					display: none;
				}
			}
			.collapsed{
				.glyphicon-menu-down{
					display: none;
				}
				.glyphicon-menu-left{
					display: block;
				}
			}
		}
		.list-group{
			border-top: 1px solid #ddd;
		}
		.list-group-item.active{
			border-width: 1px;
		}
		.list-group-item{
			padding-left: 30px;
		}
		.navbar-slider{
			display: none;
		}
	}
}
.left-navbar-hidden{
	#page-container{
		margin-left: 10px !important;
	}
	.navbar-nav-left{
		//width: 0 !important;
		-webkit-transform:translateX(-240px);
		-moz-transform:translateX(-240px);
		-ms-transform:translateX(-240px);
		-o-transform:translateX(-240px);
		transform:translateX(-240px);
	}
}
#page-container{

}

@media (min-width: 768px){
	#page-container {
	  	position: inherit;
	  	margin: 0 0 0 250px;
	 	padding: 0px;
	  	border-left: 1px solid #e7e7e7;
	  	// -webhit-transition: margin ease-out 1s;
	  	// -mos-transition: margin ease-out 1s;
	  	// transition: margin ease-out 1s;
	}
	.navbar-nav-top{
		height: 50px;
		margin-bottom: 0px !important;
		.navbar-nav-left{
			position: absolute;
			left: 0;
			top: 0;
			width: 240px;
			margin-top: 50px;
			border-right: 1px solid #BEBEBE !important;
			-webhit-transition: -webhit-transform ease-out .7s;
	  		-mos-transition: -mos-transform ease-out .7s;
	  		-ms-transition: -ms-transform ease-out .7s;
	  		-o-transition: -o-transform ease-out .7s;
	  		transition: transform ease-out .7s;
			.navbar-slider{
				display: block;
				cursor: pointer;
				height: 82px;
				width: 10px;
				background: url(../img/arrow-l.gif) no-repeat;
				line-height: 0px;
				position: absolute;
				top: 50%;
				margin-top: -41px;
				right: -9px;
			}
			.mCSB_dragger{
				z-index: 9;
			}
		}
		
	}
	.nav.navbar-right>li>a{
		padding: 15px;
	}
}