@charset "UTF-8";
/**
 * 
 * @authors Huhy (307036736@qq.com)
 * @date    2015-05-20 16:55:18
 * @version $Id$
 */
@import "mixins";			//常用的一些方法
@import "custom";			//定制的一些方法
@import "colorVariables";	//定制的颜色变量

@navTopH: 50px;			//top navbar height
@navbarLeftW: 220px;	//navbar-left width
@navbarLeftcompactedW: 50px;

html, body{
	height:100vh;
}
.navbar-nav-top{
	height: @navTopH;
	margin-bottom: 0px !important;
	.navbar-right{
		margin: 0;
		>li{
			display: inline-block;
			>a{
				padding: 15px;
			}
		}
	}
	.navbar-brand{
		float: none;
		display: inline-block;
	}
	.sidebar-collapse {
		text-align: center;
		padding: 0;
		position: absolute;
		margin-left: 20px;
		display: inline-block;
		z-index: 2;
		width: 35px;
		height: @navTopH;
		&.active, &:hover{
			.collapse-icon{
				// font-size: 14px;
				-webkit-box-shadow: 0 0 20px rgba(0,0,0,.2);
				-moz-box-shadow: 0 0 20px rgba(0,0,0,.2);
				box-shadow: 0 0 20px rgba(0,0,0,.2);
			}
		}
		.collapse-icon {
			display: inline-block;
			font-size: 18px;
			padding: 0 12px;
			line-height: @navTopH;
			height: @navTopH;
			.transition(background-color, .218s, ease);
			.transition(color, .318s, ease);
			.transition(box-shadow, .218s, ease);
		}
	}
}
#accordion.navbar-nav-left{
	padding: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9;
	width: @navbarLeftW;
	height: 100vh !important;
	padding-top: @navTopH;
	border-right: 1px solid @navbarLeftBorder !important;
	.transition(transform, .7s, ease-out);
	.navbar-search{
		position: relative;
		height: 40px;
		.glyphicon{
			position: absolute;
			font-size: 14px;
			top: 50%;
			margin-top: -7px;
			left: 7px;
			margin-right: 7px;
			color: @menuTitleOpened;
			z-index: 9;
		}
		input[type="search"]{
			display: block;
			width: 100%;
			border-radius: 0px;
			height: 40px;
			padding: 6px 12px 6px 28px;
			line-height: 1.4em;
			color: #555;
			background-color: #fff;
			background-image: none;
			border: none;
			border-bottom: 1px solid #ccc;
			&:focus {
				-webkit-box-shadow: 0 10px 40px rgba(0,0,0,.4);
				-moz-box-shadow: 0 10px 40px rgba(0,0,0,.4);
				box-shadow: 0 10px 40px rgba(0,0,0,.4);
				position: absolute;
				outline: none;
				z-index: 8;
			}
		}
	}
	.navbar-slider{
		display: block;
		cursor: pointer;
		height: 82px;
		width: 10px;
		background: url(../img/arrow-l.gif) no-repeat;
		line-height: 0px;
		position: absolute;
		top: 50%;
		margin-top: -41px + @navTopH/2;
		right: -9px;
	}
	.input-group{
		padding: 15px;
		background-color: @navbarSearchBg;
		border-bottom: 1px solid @navbarSearchBorder;
		.btn-default{
			height: 34px;
		}
	}
	.panel-group .panel{
		margin-bottom: 0px;
		margin-top: 0px;
		.border-radius(0px);
		border-right-width: 0px;
		border-top-width: 0px;
		border-color: @menuBorder;
		&.active .collapsed, &.active .alone{
			.menu-active;
		}
	}
	.panel-heading{
		padding: 0;
		.panel-title{
			display: block;
			padding: 10px 15px;
			text-decoration: none !important;
			font-size: 1em;
			background-color: @menuTitleBG;
			color: @menuTitleOpened;
			.glyphicon-menu-down{
				font-size: 10px;
				.transition(all, 300ms, ease-in-out);
			}
			&:hover{
				background-color: @menuTitleHoverBG;
			}
		}
		.collapsed{
			color: inherit;
			.glyphicon-menu-down{
				.transform(rotate(-90deg));
			}
		}
	}
	.nav-left-sub{
		.box-shadow(inset 0 4px 4px -2px, .15, inset 0 -2px 4px -2px, .15);
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		background-color: @subMenuBG;
		z-index: 123;
		&:before{
			content: "";
			display: block;
			position: absolute;
			z-index: 1;
			left: 23px;
			top: 0;
			bottom: 19px;
			border-left: 1px solid @subMenuLine;
		}
		a{
			display: block;
			height: 38px;
			line-height: 36px;
			margin: 0;
			padding: 0 16px 0 7px;
			text-shadow: none!important;
			font-size: 13px;
			text-decoration: none!important;
			outline: none;
			color: @subMenuItemTitle;
			z-index: 123;
		}
		>li{
			display: block;
			padding: 0;
			margin: 0;
			border: 0;
			position: relative;
			&.active:before, &:hover:before{
				display: block;
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: -1px;
				width: 4px;
				max-width: 4px;
				overflow: hidden;
			}
			&:hover:before{
				background-color: @subMenuItemHoverFlag;
			}
			&:hover>a{
				.menu-hover;
				&:before{
					background-color: @subMenuitemTitleHoverFlag;
				}
			}
			&.active:before{
				background-color: @subMenuItemActiveFlag;
			}
			&.active>a{
				.menu-active;
				&:before{
					background-color: @subMenuitemTitleActiveFlag;
				}
			}

			&:first-child>a:hover, &.active:first-child>a{
				.box-shadow(inset 0 4px 4px -2px, .15);
			}
			&:last-child>a:hover, &.active:last-child>a{
				.box-shadow(inset 0 -2px 4px -2px, .15);
			}
			&:only-child>a:hover, &.active:only-child>a,{
				.box-shadow(inset 0 4px 4px -2px, .15, inset 0 -2px 4px -2px, .15);
			} 
			>a{
				padding-left: 40px;
				&:before{
					content: "";
					display: inline-block;
					position: absolute;
					width: 5px;
					height: 5px;
					left: 21px;
					top: 17px;
					background-color: @subMenuLineFlagBG;
					border: 1px solid @subMenuLine;
					z-index: 2;
				}
			}
		}
	}
	.list-group-item.active{
		border-width: 1px;
	}
	.list-group-item{
		padding-left: 30px;
	}
	.mCSB_dragger{
		z-index: 999;
	}
	.mCSB_scrollTools{
		width: 8px;
	}
}
//用于左侧栏navbar隐藏效果
.left-navbar-hidden{
	#page-container{
	  	left: 10px;
	  	width:calc(~"100% - 10px");
	}
	.navbar-nav-left{
		.transform(translateX(-@navbarLeftW));
	}
}

#page-container {
	position: absolute;
	top: @navTopH;
  	left: @navbarLeftW + 10;
	height: calc(~"100% - @{navTopH}");
	width: calc(~"100% - @{navbarLeftW} - 10px");	//这种写法是为了解决less下的计算单位不同造成的bug
	margin: 0;
  	padding: 0;
	//padding: @navTopH 0 0 @navbarLeftW + 10;
	overflow-y: hidden;
	.transition(all, .7s, ease-out);
}
