<div class="orthogon img selected" style="position:absolute; text-align: center; vertical-align: middle;">
	<i class="up-left stretch-corner"></i>
	<i class="up-middle vertical"></i>
	<i class="up-right stretch-corner"></i>
	<i class="right-middle horizontal"></i>
	<i class="down-left stretch-corner"></i>
	<i class="down-middle vertical"></i>
	<i class="down-right stretch-corner"></i>
	<i class="left-middle horizontal"></i>
	<img src="{{src}}" alt="{{description}}" style="max-width:100%; max-height:100%;"><span style="
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
	"></span>
</div>