<div class="label1 selected" style="position:absolute;">
    <i class="up-left stretch-corner"></i>
    <i class="up-middle vertical"></i>
    <i class="up-right stretch-corner"></i>
    <i class="right-middle horizontal"></i>
    <i class="down-left stretch-corner"></i>
    <i class="down-middle vertical"></i>
    <i class="down-right stretch-corner"></i>
    <i class="left-middle horizontal"></i>
    <div style="width:100%; height:100%;">{{name}}</div>
</div>  