  <div class="line selected" style="position:absolute; border: 1px solid #000; background-color: #000;">
  	<i class="left stretch"></i>
  	<i class="right stretch"></i>
  	<i class="middle"></i>
  </div>