<div class="label1 selected" style="position:absolute;">
	<i class="up-left stretch-corner"></i>
	<i class="up-middle vertical"></i>
	<i class="up-right stretch-corner"></i>
	<i class="right-middle horizontal"></i>
	<i class="down-left stretch-corner"></i>
	<i class="down-middle vertical"></i>
	<i class="down-right stretch-corner"></i>
	<i class="left-middle horizontal"></i>
	<textarea class="form-control" name="" style="height:100%; width:100%; resize: none; overflow:hidden; border: none; padding: 0; margin:0; background-color: transparent; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; line-height: 1.42857;"></textarea>
</div>