<div class="input-group navbar-search">
    <input type="search" class="form-control" placeholder="Search..." />
    <span class="input-group-btn"><button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
</span>
</div>
<div id="leftNavbarGroup"></div>
<div class="navbar-slider"></div>