<header class="navbar navbar-default navbar-static-top navbar-nav-top"></header>
<div id="page-container">
    <iframe id="rightcontainer" src="" height="100%" width="100%" scrolling="auto" frameborder="0" style="border-left: 1px solid #e7e7e7"></iframe>
</div>