<header class="navbar navbar-default navbar-static-top navbar-nav-top"></header>
<nav class="navbar-default navbar-nav-left navbar-collapse collapse" id="accordion" role="tablist" aria-multiselectable="true" aria-expanded="false">
</nav>
<section id="page-container" style="border-left: 1px solid #e7e7e7">
    <iframe id="rightcontainer" src="" height="100%" width="100%" scrolling="auto" frameborder="0" style="border-left: 1px solid #e7e7e7"></iframe>
</section>