<header class="navbar navbar-default navbar-static-top navbar-nav-top"></header>
<nav class="navbar-default navbar-nav-left navbar-collapse" id="accordion" role="tablist" aria-multiselectable="true" aria-expanded="false">
</nav>
<section id="page-container">
    <iframe id="rightcontainer" src="/Example/pages/Index/welcome.html" height="100%" width="100%" scrolling="auto" frameborder="0"></iframe>
</section>