.popup
  position absolute
  top 0
  bottom 0
  right 0
  left 0
  display -webkit-flex
  justify-content center
  align-items center
  background-color rgba(0,0,0,.1)
  transition: all .4s ease;
  &.fade-enter
    opacity 0
    -webkit-transform translate3d(0, -100%, 0)
    transform translate3d(0, -100%, 0)
  &.fade-leave
    opacity 0
    -webkit-transform translate3d(0, 100%, 0)
    transform translate3d(0, 100%, 0)
  .info-container
    width 80%
    height 80%
    background-color #fff
    .btn
      display inline-block
      text-align center
      vertical-align middle
      border 1px solid #DDDDDD
      white-space nowrap
      padding 6px 12px
      border-radius 4px
      user-select none

//.fade
